@(message: String, text: String)

@main(message) {

    <!DOCTYPE html>
    <html lang="en">

    <head></head>

    <body>
    <div id="wrapper">
        <p>@Html(text)</p>

        <div class="navbar-default sidebar" role="navigation">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/listMovies" style="background-color:#CC0000 !important; color:#FFFFFF !important; text-shadow: 0 0 3px #000;"><i class="fa fa-files-o fa-fw"></i> View All Movies</a>

                    </li>
                </ul>
            </div>
                <!-- /.sidebar-collapse -->
        </div>
            <!-- /.navbar-static-side -->

        
    </body>
    </html>

}
