@(movies: Seq[movies], form: Form[movies])(implicit messages: Messages)

@main("Movies") {

    <div id="getmetop" style="position:fixed;">
        <div class="panel-heading" style="padding-right:1%;
            float: left;">
            <div class="panel-body" style="border-radius: 25px;
                background: linear-gradient(#cd0000, #e6be00, green);
                color: #FFFFFF !important;
                text-shadow: 0 0 10px #FFF;
                padding: 10px;
                margin-left:19%;
                margin-right: auto;
                text-align:center;
                width:auto">
                <a href="/" style=""><b>Go Back</b></a>
            </div>
<br>
            <div style="text-align: center;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
    "><p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                line-height: 26.4px;
                padding-left: 25%;
        "><b>RAINBOW MOVIES</b></p>
            </div>
        </div>


    </div>

    <div id="getMe" style="position: fixed;
        padding-left: 2%; " class="row">

        <div>
        @helper.form(routes.Application.toView()) {
            <div class="panel panel-default" style="width: auto !important;
                float: left;">
                <div class="panel-heading">
                    <div class="panel-body" style="color: #FFFFFF;
                        text-shadow: 0 0 10px #000;

                        border-radius: 25px;
                        background: linear-gradient(#cd0000, #e6be00, green);
                        padding: 20px;"><b><u>Add New Movie</u></b><br><br>

                        <div style="display: none;">@helper.inputText(form("theID"), 'value -> "0")</div>
                        @helper.inputText(form("Title"))
                        @helper.inputText(form("Description"))
                        @helper.inputText(form("Price"))
                        @helper.inputText(form("Director"))
                        @helper.inputText(form("Starring"))
                        @helper.inputText(form("Rating"))
                        <div align="center">
                            <button type ="submit" style="color: #000000;"><b>Create Movie</b></button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>


    <div id="editMe" style="float: left;
        position: relative;
        width: auto;">
        <div class="panel panel-default" style="">
            <div class="panel-heading">
                <div class="panel-body" style="
                    border-radius: 25px;

                    background: linear-gradient(#cd0000, #e6be00, green);
                    color: #FFFFFF;
                    text-shadow: 0 0 10px #000;
                    padding: 20px;
                "> <b><u>List of Movies</u></b><br><br>
                    <table id="theTable" class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Director</th>
                                <th>Starring</th>
                                <th>Rating</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(thisMovie <- movies) {
                            <tr>
                                <td>@thisMovie.title</td>
                                <td style="max-width: 250px !important;">@thisMovie.description</td>
                                <td>@thisMovie.price</td>
                                <td>
                                @for(x <- thisMovie.director.split(", ")) {
                                    @x <br>
                                    }
                                </td>
                                <td>
                                @for(x <- thisMovie.starring.split(", ")) {
                                    @x <br>
                                    }

                                </td>
                                <td>@thisMovie.rating</td>
                                <td>
                                    <div align="center">

                                        <button
                                        id="@thisMovie.mID"
                                        type="submit"
                                        onclick="window.location.href = '/toEdit/@thisMovie.mID'"
                                        style="float: left;
                                            position: relative;
                                            color: #000;"
                                        ><b>Edit</b>
                                        </button>

                                        <button
                                        id="@thisMovie.mID"
                                        type="submit"
                                        onclick="window.location.href = '/toDel/@thisMovie.mID'"
                                        style="float: left;
                                            position: relative;
                                            color: #000;"
                                        ><b>Delete</b>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <script>
            window.onload = function () {
                document.getElementById("editMe").style.left = document.getElementById("getMe").offsetWidth + "px"
                document.getElementById("editMe").style.top = document.getElementById("getmetop").offsetHeight + "px"
                document.getElementById("getMe").style.marginTop = (document.getElementById("getmetop").offsetHeight) +  "px"
            }
    </script>


}

